*{
    padding: 0;
    margin: 0;
    
   
}
.container{
    width: 1400px;
    height: 800px;
    background-color: grey;
}
.white{
    width: 700px;
    height:800px;
    background-color: rgb(91, 169, 241);
    float: left;
    
}
.blue{
    width: 700px;
    height:800px;
    background-color: rgb(253, 254, 255);
    float: right;
}
.box1{
    padding-left: 220px;
    padding-right: 200px;
    padding-top: 220px;
    padding-bottom: 230px;
    color: white;
}
.box2{
    padding-left: 220px;
    padding-right: 200px;
    padding-top: 220px;
    padding-bottom: 230px;
    color: #000;
}
p{
    padding:10px;
}
.box2 h3{
    font-size: 18px;
}
.box2 button{
    width: 200px;
    padding: 5px;
    text-align: center;
    border-radius:20px;
    border: 0px;
    background-color: rgb(91, 169, 241);
    
    
}

.twitter{
    color:rgb(91, 169, 241);
    padding-left: 10px;
}
